html{
    text-align: center;
    font-family: monospace;
}
.main{
    display:flex;
    min-height:95vh;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100vh;
    background-color: azure;
}
.container{
    display: grid;
    background-color: black;
    border: 10px solid rgb(47, 47, 47,1);
    grid-template-rows: repeat(6,100px);
    grid-template-columns: repeat(4, 100px);   
    grid-template-areas:
    "item0      item0       item0       item0"
    "item7      item8       item9       item11"
    "item4      item5       item6       item13"
    "item1      item2       item3       item14"
    "item10     item16      item12      item15"
    "item17     item17      item17      item17"
    
}
button{
    font-family:monospace;
    font-size: 2em;
}
.item0{
    font-size:5.5em;
    font-weight:bold;
    text-shadow:1.3px 1.3px #383838;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:flex-end;
    padding:5px;
}
.item17{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size: 4em;
    font-weight: bolder;
    text-shadow:5px 5px black;
    color:white;
    font-family:monospace;
    background-color:rgb(61, 44, 44);
    
}

.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8,
.item9,
.item10{
    background-color: khaki;
    border-radius:10px;   
}
.item11,
.item12,
.item13,
.item14,
.item15{
    background-color: orangered;
    border-radius:10px;
}
.item16{
    background-color:royalblue;
    border-radius:10px; 
}
.item0{
    background-color:lightgrey;
    border:6px solid black;
}

.item1{
    grid-area:item1;
}
.item2{
    grid-area:item2;
}
.item3{
    grid-area:item3;
}
.item4{
    grid-area:item4;
}
.item5{
    grid-area:item5;
}
.item6{
    grid-area:item6;
}
.item7{
    grid-area:item7;
}
.item8{
    grid-area:item8;
}
.item9{
    grid-area:item9;
}
.item10{
    grid-area:item10;
}
.item11{
    grid-area:item11;
}
.item12{
    grid-area:item12;
}
.item13{
    grid-area:item13;
}
.item14{
    grid-area:item14;
}
.item15{
    grid-area:item15;
}
.item16{
    grid-area:item16;
}
.item0{
    grid-area:item0;
}
.item17{
    grid-area:item17;
}

